# Caddyfile de développement
# Chargé par compose.yaml, surchargé par Caddyfile.prod en production.

:80 {
    root * /var/www/html/public

    encode gzip zstd

    file_server

    php_fastcgi plantPHP:9000 {
        root /var/www/html/public
        env APP_ENV dev
        env APP_DEBUG 1
    }

    try_files {path} /index.php?{query}

    log {
        output file /var/log/caddy/access.log {
            roll_size 10MB
        }
    }
}