# Dépendances PHP et JS
/vendor/             # Dépendances Composer
/node_modules/       # Dépendances npm

# Env
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
*.env.local
# Frontend env (Vite)
/react/.env
/react/.env.local
/react/.env.*.local

# Temp, cache, logs
/var/
/public/bundles/
/public/assets/
/assets/vendor/
/web/assets/
/storage/
/logs/

# Tests
/phpunit.xml
/phpunit.xml.dist
/.phpunit.cache/
/coverage/
/tests/php/coverage/

# Build
/build/
/dist/
/react/.vite/
/react/dist/

# IDE
.idea/
.vscode/


# Windows
Thumbs.db

# Fichiers de Composer / NPM
/composer.lock
/package-lock.json
/yarn.lock
/react/package-lock.json
# Composer bin
/composer.phar

# Fichiers de débogage et dump
*.bak
*.old
*.swp
*~

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

# --- Gestion des images ---
# Ignorer le dossier des uploads générés par l'application
/public/uploads/

# Mais inclure spécifiquement le dossier des images de seed
!/public/images/seed/
